// Import Font
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

$max-width: 69.375rem;

// Colors
$clr-primary: hsl(0, 100%, 74%);
$clr-secondary: hsl(154, 59%, 51%);
$clr-highlight: hsl(248, 32%, 49%);

$clr-neutral-200: hsl(249, 10%, 26%);
$clr-neutral-700: hsl(246, 25%, 77%);
