body {
	min-height: 100vh;
	font-family: 'Poppins', sans-serif;
	line-height: 1.625;
	background-color: $clr-primary;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.container {
	max-width: $max-width;
	margin-inline: auto;
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	grid-gap: 4.75rem;
}
